{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 py-2 w-50 bg-dark text-white">
  <div class=row>
    <div class="col-xl-12">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.project|crispy }}
        {{ form.files|crispy }}
        {{ form.sentence_parser|crispy }}
        <button type="submit" class="btn btn-success mt-3">Confirm</button>
      </form>
    </div>
   </div>
 </div>

{% endblock content %}