{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href={% static "translation/css/segment.css" %} rel="stylesheet" type="text/css">

<div class="container-fluid mt-4">
  {% for segment in segments %}
    <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row {% cycle 'row1' 'row2' %} my-1">
            <div class="col-xl-1 border seg-id">{{ segment.seg_id }}</div>
            <div class="col-xl-5 border seg-source">{{ segment.source }}</div>
            <div class="col-xl-1 border seg-status ">{{ segment.get_status_display }}</div>
            <div class="col-xl-5 border seg-target p-0"><textarea>{% if segment.target %}{{ segment.target }}{% else %}{% endif %}</textarea></div>
           </div>
        </div>
    </div>
  {% endfor %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src={% static "translation/js/textarea.js" %} type="text/javascript"></script>
{% endblock %}