@charset "utf-8";
.bg-dark {
	background-color: #14213D;
}

.login {
	float: right;
}.jumbotron {
	background-color: #14213D;
	
}
body {
	background-color: inherit;
}
.display-4 {
    color: #FFFFFF;
}
.lead {
    color: #FFFFFF;
}
.jumbo_p {
    color: #FFFFFF;
}
