{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container w-25">
    <form method="post" novalidate="">
    <input type="hidden" name="csrfmiddlewaretoken" value="IVqBFyspQa9Yj4i4BbmR3OqiEO8xgiU7cyktbSwhW1cVfNEzZPk4CmUrCD8f1c10">
    

<div id="div_id_username" class="control-group"> <label for="id_username" class="control-label requiredField">
            Username<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" class="textinput textInput" required="" id="id_username"> <p id="hint_id_username" class="help-block">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p> </div> </div> <div id="div_id_password1" class="control-group"> <label for="id_password1" class="control-label requiredField">
            Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="password" name="password1" autocomplete="new-password" class="textinput textInput" required="" id="id_password1"> <p id="hint_id_password1" class="help-block"></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul><p></p> </div> </div> <div id="div_id_password2" class="control-group"> <label for="id_password2" class="control-label requiredField">
            Password confirmation<span class="asteriskField">*</span> </label> <div class="controls"> <input type="password" name="password2" autocomplete="new-password" class="textinput textInput" required="" id="id_password2"> <p id="hint_id_password2" class="help-block">Enter the same password as before, for verification.</p> </div> </div> <div id="div_id_expertises" class="control-group"> <label for="" class="control-label ">
            Expertises
        </label> <div class="controls"> </div> </div> <div id="div_id_roles" class="control-group"> <label for="" class="control-label ">
            Roles
        </label> <div class="controls"> </div> </div>

    <button type="submit" class="btn btn-success">Sign up</button>
</form>
  </div>
{% endblock %}